#warning {
	width: 100%;
	background-color: #FF0;
	color: #F00;
	text-align: center;
	min-height: 63px;
}

#warning img {
	display: inline-block;
	vertical-align: bottom;
}

#warningcontent {
	display: inline-block;
	text-align: left;
	max-width: calc(100% - 150px);
}

#warningcontent h1 {
	margin: 0;
}

#warningcontent p {
	margin: 0;
}

.paddedwarning {
	padding-left: 0vw;
	padding-right: 0vw;
}